@import 'theme/theme';
@import 'stars';
@import 'animations';
@import 'typography';
@import 'list-view';
@import 'buttons';
@import 'transitions';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #DDD;
}

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

html, body {
  display:     flex;
  flex-flow:   column;
  width:       100vw;
  min-height:  100%;
  min-height:  -webkit-fill-available;
  flex-grow:   1;
  align-items: center;
  position:    relative;
}

body {
  max-width: 1920px;
}

.card-solid {
  background-color: var(--card-solid-background);
  border-radius:    8px;
  box-shadow:       var(--card-shadow);
  padding:          16px 24px;
}

.card {
  background-color: var(--card-background);
  backdrop-filter:  blur(2px);
  border-radius:    8px;
  box-shadow:       var(--card-shadow);
  padding:          16px 24px;
}
